@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'RodinProM';
	src: url('/fonts/RodinBokutohProM.otf');
	font-weight: normal;
	font-style: normal;
}

* {
	// Prevent text/img selection and dragging
	user-select: none;
	-webkit-user-drag: none;
}

body {
	font-family: 'RodinProM';
	background-color: #2D2D2D;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

html,
#root {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* Hide scrollbars across browsers */
* {
	scrollbar-width: none;
}
*::-webkit-scrollbar {
	display: none;
}

@keyframes borderColorChange {
	0% {
		border-color: #62EFDF;
	}
	50% {
		border-color: #1b98c6;
	}
	100% {
		border-color: #62EFDF;
	}
}

.animate-borderColor {
	animation: borderColorChange .9s infinite;
}
